html,body{margin:0;padding:0}
.flame{width:100%;height:873px;background-color:green;}
.header{width:100%;height:83px;background-color:#3E4F8F;}
.main{width:100%;height:630px;background-color:#F2F2F2;}
.footer{width:100%;height:160px;background-color:white;}
.facebook{font-weight:bolder;font-size:30px;}
.facebook2{margin-top:20px;margin-left:130px;font-size:36px;}
.table1{color:white;padding-left:100px;padding-top:10px;}
.td1{font-size:11px;}
.td2{width:190px;height:37px;}
.td3{width:394px;height:37px;}
.td4{padding-left:10px}
.td5{border-radius:10px}
.href1{text-decoration:none}
.main-right{width:100%;height:17%;float:left;font-size:12px;color:grey;font-weight:bolder;}
.div{width:50%;height:100%;color:white;float:left}
.div3{width:10%;height:100%;background-color:white;float:left;}
.div4{height:20%;width:100%;background-color:white;float:left;border-bottom: 1px solid #000000;border-bottom-color:grey;}
