.misao1{height:100%;width:100%}
.misao2{height:20%;width:100%;float:left;}
.misao3{height:70%;width:100%;float:left;}
.misao4{height:10%;width:100%;float:left;}
.misao5{height:100%;width:50%;float:left;}
.misao6{background-color:blue}
.misao7{background-color:green}
.misao8{background-color:yellow}
.misao9{background-color:pink}
.misao10{background-color:black}